.inputTodo {
  display: none;
  margin-top: 0.4em;
}

.form {
  width: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formFields {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.editTaskContainer {
  width: 100%;
}

.buttonsContainer {
  position: absolute;
  left: -1.2em;
  top: 1.7em;
}

.rowContainer {
  position: relative;
  width: 100%;
}
